GRPC_PORT=50051

KAFKA_BROKER=kafka:9092
KAFKA_BROKER_LOCAL=localhost:9092
KAFKA_UI_PORT=8080

KAFKA_CONSUMER_GROUP=notification-group

SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_FROM=noreply@example.com
MAILPIT_UI_PORT=8025
